{% extends "base.html" %} {% block content %}
<div class="mt-5 indexbar"></div>
<div class="row">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>
          ANSWERS FOR SURVEY-NAME "{{customSurveys[0]['survey_name']|upper}}"
        </h1>
      </div>
      <div class="card-body">
        {% if customSurveys %}
        <form
          action="{{ url_for('submit_survey',id=customSurveys[0].id) }}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% for item in customSurveys %}
          
          
          <table>
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Question</th>
                      <th>Answer</th>
                  </tr>
              </thead>
              <tbody>
                <td rowspan="{{ item['answer']|length + 1 }}"><h2>NAME: {{ item['user_name'] }}</h2></td>

                  {% for key, value in item['answer'].items() %}
                  
                      <tr>
                        
                          <td>{{ key }}</td>
                          <td>
                              {% if value is string %}
                                  {{ value }}
                              {% elif value is iterable and not value is string %}
                                  <ul>
                                      {% for list_item in value %}
                                          <li>{{ list_item }}</li>
                                      {% endfor %}
                                  </ul>
                              {% else %}
                                  {{ value }}
                              {% endif %}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          <hr />
      {% endfor %}
        </form>

        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
