{%extends "base.html"%}

{% block buttons %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item p-2">
      <a 
       name=""
       type="buttton"
       class="btn btn-primary"
       href="#"
      >
       <i class="fas fa-home"></i>
       Home
      </a>
     </li>
     <li class="nav-item p-2">
       <a
       name=""
       type="button"
       class="btn btn-primary"
       href="{{ url_for('loadmessages') }}"
       ><i class="fas fa-envelope directMessages"></i> Direct
       Messages</a
     >
     </li>
    <li class="nav-item p-2">
      <a class="btn btn-primary" href="{{ url_for('post') }}"><i class="fas fa-arrow-left"></i>Go Back</a>
    </li>
    <li class="nav-item p-2">
      <a class="btn btn-primary" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Log Out</a>
    </li>
  </ul>
{% endblock buttons %}

{%block content%}
<br><br>
<div class="row">
<div class="container mt-5">
    <div class="col-md-12">
        <div class="card content-container">
            <div class="card-header">
                <h4>Sender</h4>
            </div>
                <div class="card-body messages">
                {%if sender is not none and sender|length>0%}
               <ul>
                {%for item in sender%}
                <li>
                <h5><a href="/selectedUserProfile/{{ item.sender }}">{{item.sender_first_name}} {{item.sender_last_name}}</a></h5>
                <p>{{item.timestamp}}</p>
                <h6>{{item.message}}</h6>
                </li>
                {%endfor%}
               </ul>
                {%endif%}
            </div>
        </div>
    </div>

</div>
</div>
<br><br>
{%endblock%}